
    /* margin: 30px; assim é espaçamento pra todos os lados
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px; */
    p {
        margin: 20px 60px;
        padding: 30px;
        background-color: aquamarine;
        border: solid 5px brown;
    }
    h1 {
        border: solid;
        border-width: 10px;
        border-top-color: green;
        border-bottom-color: orange;
        border-right-color: blue;
        border-left-color: yellow;
    }